/*
----------------------------------------------------------------------------------------------------
01. FULL PAGES */

#prj-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 50px;
}

#section-display-prj-pg { 
    text-align: left;
}

#prj-txt-bg {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    background-color: #fff;
}

#prj-txt {
    font-weight: 400;
    font-size: 12pt;
    color: #000; 
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

@media only screen and (max-width: 767px) {
    #prj-txt {
        width: 100%;
  }
}

.page-wrap {
    margin-top: 15px;
    width: 100%;
    text-align: center; 
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.page-wrap-inner {
   width: 90%;
    max-width: 1000px;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto; 
}

@media only screen and (max-width: 767px) {
    .page-wrap-inner {
        width: 100%;
        max-width: 767px;
  }
}

/* ---------- 01.1. MISC ETC */

#misc-img-container {
    position: relative;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#misc-img {
    position: relative;
    width: 95%;
}

@media only screen and (max-width: 767px) {
    #misc-img {
        width: 100%;
    }
}

/* ---------- 01.2. 2018/2019 - 2016/2017 */

#eightnine-img-container {
    width: 60%;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}

/* ---------- 01.3. VINTAGE UPRISING */

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.c-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ---------- 01.4. PLUTUS */

#plutus-img {
    width: 100%;
    height: 100%;
    background-image: url(index/plutus/plutusFull_D.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#plutus-img-hfp {
    width: 100%;
    height: 100%;
    background-image: url(index/plutus/twophone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    #plutus-img {
        background-image: url(index/plutus/plutusFull_M.png);
    }
    #plutus-img-hfp {
        background-image: url(index/plutus/twophone.jpg);
    }
}

#plutus-graph {
    width: 100%;
    border: 1px dashed #000;
    display: block;
    
}

#plutus-hfp {
    width: 100%;
    border: 1px solid #000;
    display: block;
    
}

#personaIcon {
    width: 40%;
    align-content: center;
    margin-bottom: auto 0;
    text-align: center;
}

#cuecard-plutus {
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    font-size: 12pt;
    color: #000;
    border-top: 5px dashed #000; 
    border-left: 5px dashed #000;
    border-right: 5px dashed #000;
    border-bottom: 10px solid #ebeb64;
    -webkit-box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.15);
    -moz-box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.15);
    box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.15);
}

@media only screen and (max-width: 767px) {
    #cuecard-plutus {
        margin-bottom: 25px;
        margin-left: auto 0;
        margin-right: auto 0;
    }
}

#plutusHighlight {
    background-color: #ebeb64;
}

/* ---------- 01.4. BOOMER'S */

#boomers-img {
    width: 100%;
    height: 100%;
    background-image: url(index/boomers/boomersFull_D.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    #boomers-img {
        background-image: url(index/boomers/boomersFull_M.jpg);
    }
}

#boomersHighlight {
    background-color: #ee3442;
}

.boomers-img { 
    width: 100%; 
}

.boomers-img-pic { 
    border: 1px solid #000; 
    width: 100%; 
}

/* ---------- 01.5. RENCANA */

#uwr-img {
    width: 100%;
    height: 100%;
    background-image: url(index/rencana/uwrencana_D.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#uwrHighlight {
    background-color: #fcd6e5;
}

.rencana-img { 
    width: 100%; 
}

#cuecard-uwr {
    min-height: 600px;
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    font-size: 12pt;
    color: #000;
    border-top: 5px dashed #000; 
    border-left: 5px dashed #000;
    border-right: 5px dashed #000;
    border-bottom: 10px solid #fcd6e5;
    -webkit-box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.15);
    -moz-box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.15);
    box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.15);
}

@media only screen and (max-width: 767px) {
    #cuecard-uwr {
        min-height: 50px;
        margin-bottom: 25px;
        margin-left: auto 0;
        margin-right: auto 0;
    }
}