/*
DIRECTORY:
01. GENERAL STYLES
02. GENERAL FULL PAGE
03. GENERAL TEXT TYPE
04. MENU
    Pop-up Desktop
    Pop-up Mobile
05. MOUSE SCROLL

06. MISC. ETC.
07. 2018 2019 
08. VINTAGE UPRISING
09. 2017 2016
*/

/*
----------------------------------------------------------------------------------------------------
GENERAL STYLES */

::selection { background: #000; color: white; }

*:focus { outline: none !important }

* { box-sizing: border-box; }

body {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    color: black;
    background-color: white;
    position: relative;
}

figcaption {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

a:link {
    color: black;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

#unlR { text-decoration: underline; text-decoration-color: #fe0000; }
#unlB { text-decoration: underline; text-decoration-color: #0090ff; }
#unlG { text-decoration: underline; text-decoration-color: #1ab51b; } 
#unlY { text-decoration: underline; text-decoration-color: #f5ff00; } 

#unlR:hover { color: black; background: #fe0000; }
#unlB:hover { color: black; background: #0090ff; }
#unlG:hover { color: black; background: #1ab51b; }
#unlY:hover { color: black; background: #f5ff00; }

/*
----------------------------------------------------------------------------------------------------
GENERAL FULL PAGE */

.modal-content-box {
    text-align: left;
    position: relative;
    background-color: #fff;
    margin: auto;
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
}

@media screen and (max-width: 800px) { 
    .modal-content-box {
        width: 95%;
    }
}

#cuecard {
    display: inline-block;
    padding: 15px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
    font-size: 12pt;
    color: #1d2758;
    -webkit-box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.75);
    box-shadow: 13px 23px 36px -19px rgba(0,0,0,0.75);
}

.wrapperTwo {
  width: 100%;
  text-align: center; 
}

.containerTwo {
  width: 90%;
  max-width: 1000px;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.containerThree {
  width: 45%;
  max-width: 1000px;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.mainCol {
  word-wrap: break-word;
  background-color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}

.two-column {
  float: none;
  width: auto;
  overflow: hidden;
}

.side-a {
  float: left;
  position: relative;
  width: 320px;
  word-wrap: break-word;
  background-color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
    .containerTwo {
        width: 100%;
        max-width: 767px;
  }
    .containerThree {
        width: 100%;
        max-width: 767px;
  }
    .side-a {
        float: none;
        position: static;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
  }
}

.row {
  display: flex;
}

.col {
  flex: 1; 
}

@media only screen and (max-width: 800px) {
    #cuecard {
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .row {
        display: inline-block;
    }
}

/*
----------------------------------------------------------------------------------------------------
GENERAL TEXT TYPE */

#helloTxt { line-height: 60pt; }

#highlight { background: black; }

#imgCaption { text-align: center; font-size: 10pt; margin-left: 10%; margin-right: 10%; }

#centerTextBig {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    font-size: 100px; 
}

#centerTextMed {
    line-height: 20pt;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

#titleText {
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
}

#smallMediumText {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
#centerTextBig {
        text-align: center;
        font-weight: bold;
        line-height: 1.5em;
        font-size: 55px;
    }
#centerTextMed {
        font-size: 15px; 
        line-height: 20pt;
    }
#smallMediumText {
        font-size: 15px; 
    }
}

#bigTxt {
    font-family: 'Roboto', sans-serif;
    font-size: 117px;
    font-weight: 1000;
    color: white;
    mix-blend-mode: difference;
    writing-mode: horizontal-tb;
    display: block;
    position: relative;
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
}

#caption {
    font-size: 15px;
    color: white;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(50%); 
}

@media screen and (max-width: 767px) {
    #bigTxt {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        font-weight: 1000;
        color: white;
        mix-blend-mode: difference;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: block;
        position: relative;
        top: 50%;
        margin-left: 20px;
        transform: translateY(-50%);
    }
    #caption {
        font-size: 12px;
        line-height: 11px;
        text-align: left;
        transform: translateY(0);
        position: absolute;
        top: 50px;
        left: 50px;
    }
    #helloTxt { 
        line-height: 30pt;
        font-size: 25px; 
    }
}

#introName {
    background-color: #f5ff00;
}

/*
----------------------------------------------------------------------------------------------------
MENU */

#mobile { 
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 767px) {
    #mobile {display: none;}
    #desktop {display: block;}
}

@media screen and (max-width: 767px) {
    #desktop {display: none;}
    #mobile {display: flex;}  
    body {margin: 0;}
}

.sidenav { 
    color: black;
    width: 85px;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
}

.main {
    margin-left: 140px;
}

@media screen and (max-width: 767px) {
    .main { margin: 0; }
}

#tab img {
    vertical-align: middle;
}

#titleD {
    color: black;
    font-size: 22.5px;
    line-height: 22.5pt;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform:scale(-1);
    padding-top: 20px;
    border-top: 1px solid black;
}

#titleM {
    color: black;
    font-size: 22.5px;
    line-height: 22.5pt;
    margin-top: 30px;
    border-bottom: 1px solid black;
}

#menuD {
    font-size: 10px;
    line-height: 22.5pt;
    padding-top: 20px;
}

#menuM {
    font-size: 10px;
    line-height: 22.5pt;
}

.small {
    width: 12px;
    padding-right: 5px
}

#backButton { 
    z-index: 1;
    text-align: center;
    margin-top: 45px;
    color: black;
    font-size: 17.5px;
    line-height: 22.5pt;    
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

/*
----------------------------------------------------------------------------------------------------
MOUSE SCROLL */

.middle {
    position: absolute;
    left: 50%;
}

.mouse {
    width: 22.22px; 
    height: 33.33px; 
    border: 2px solid #1d2758; 
    border-radius: 40px;
}

.mouse::before { 
    content: ""; 
    width: 3.33px; 
    height: 5px; 
    position: absolute; 
    top: 6.66px; 
    background: #1d2758; 
    left: 50%; 
    transform: translateX(-50%);
    border-radius: 50%; 
    opacity: 1; 
    animation: mouse 1.75s infinite;
}

@keyframes mouse { 
    from { 
        opacity: 1; 
        top: 6.66px; 
    } 
    to { 
        opacity: 0; 
        top: 20px; 
    }
}

/*
----------------------------------------------------------------------------------------------------
MISC. ETC. */

#bigTxtMisc {
    background: url(index/full_pages/miscetc/mischeader.png);     
    background-position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 117px;
    font-weight: 1000;
    color: black;
    writing-mode: horizontal-tb;
    display: block;
    position: relative;
}

@media screen and (max-width: 767px) {
    #bigTxtMisc {
        background: url(index/full_pages/miscetc/mischeader.png);     
        background-position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: cover;                    
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 55px;
        font-weight: 1000;
        color: black;
        writing-mode: horizontal-tb;
        display: block;
        position: relative;
    }
}

#bgimgMisc {
    margin: 0 auto;
    height: 100%;
    background: #000;
    background-image: url(index/full_pages/miscetc/mischeader.png); !important
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
}


/*
----------------------------------------------------------------------------------------------------
2018 2019 */

#bigTxt1819 {
    background: url(index/full_pages/20182019/banner_D.jpg);     
    background-position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 117px;
    font-weight: 1000;
    color: black;
    writing-mode: horizontal-tb;
    display: block;
    position: relative;
}

@media screen and (max-width: 767px) {
    #bigTxt1819 {
        background: url(index/full_pages/20182019/banner_M.jpg);     
        background-position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: cover;                    
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 55px;
        font-weight: 1000;
        color: black;
        writing-mode: horizontal-tb;
        display: block;
        position: relative;
    }
}

#bgimg1819 {
    margin: 0 auto;
    height: 100%;
    background: #000;
    background-image: url(index/full_pages/20182019/banner_D.jpg); !important
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
    #bgimg1819 { background-image: url(index/full_pages/20182019/banner_M.jpg); } !important
}

/*
----------------------------------------------------------------------------------------------------
VINTAGE UPRISING */

#bigTxtVint {
    background: url(index/full_pages/vintageuprising/vintagedoc_D.jpg);     
    background-position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 117px;
    font-weight: 1000;
    color: black;
    writing-mode: horizontal-tb;
    display: block;
    position: relative;
}

@media screen and (max-width: 767px) {
    #bigTxtVint {
        background: url(index/full_pages/vintageuprising/vintagedoc_M.jpg);     
        background-position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: cover;                    
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 55px;
        font-weight: 1000;
        color: black;
        writing-mode: horizontal-tb;
        display: block;
        position: relative;
    }
}

#bgimgVint {
    margin: 0 auto;
    height: 100%;
    background: #000;
    background-image: url(index/full_pages/vintageuprising/vintagedoc_D.jpg); !important
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
    #bgimgVint { background-image: url(index/full_pages/vintageuprising/vintagedoc_M.jpg); } !important
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.c-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*
----------------------------------------------------------------------------------------------------
2016 2017 */

#bigTxt1617 {
    background: url(index/full_pages/20162017/banner_D.jpg);     
    background-position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 117px;
    font-weight: 1000;
    color: black;
    writing-mode: horizontal-tb;
    display: block;
    position: relative;
}

@media screen and (max-width: 767px) {
    #bigTxt1617 {
        background: url(index/full_pages/20162017/banner_M.jpg);     
        background-position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: cover;                    
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 55px;
        font-weight: 1000;
        color: black;
        writing-mode: horizontal-tb;
        display: block;
        position: relative;
    }
}


#bgimg1617 {
    margin: 0 auto;
    height: 100%;
    background: #000;
    background-image: url(index/full_pages/20162017/banner_D.jpg); !important
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;                    
    background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
    #bgimg1617 { background-image: url(index/full_pages/20162017/banner_M.jpg); } !important
}

