/* ------------ Setup ---------- */
* { margin: 0; padding: 0; }

::selection { background: #e7aac2; }

*:focus { outline: none !important }

body {
    text-align: left;
    /* font-family: 'Montserrat', sans-serif; */
    font-family:"Lucida Grande", arial, sans-serif;
    font-size: 1.75vh;
    line-height: 2em;
}
footer {
    min-height: 100px;
}

header, .header {
    padding: 0;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    font-size: 8.5pt;
}

#centerTxt {
    font-family:"Lucida Grande", arial, sans-serif;
    text-align: center;
}

#gallerytext {
    text-align: center;
    padding-left: 10vh;
    padding-right: 10vh;
}

#abouttxt {
    padding-right: 5vh;
    padding-left: 0vh;
}

@media only screen and (min-width: 50px) {
    #abouttxt {
        padding-left: 5vh;
    }
    #aboutimg {
        display: block;
    }
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 10pt;
}

figcaption {
    text-transform: uppercase;
    padding: 1.5%;
    color: darkgray;
    text-align: center;
    font-size: 8.5px;
}
/* ------------ End of Setup ---------- */

/* ---------- Link Styles ---------- */
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
  text-decoration: line-through;
}

a:active {
  color: black;
  text-decoration: bold;
}

/* Buttons */
.button {
    background-color: #e7aac2;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-width: 2px;
    border-radius: 5px; 
    border-color: #e7aac2;
}

.button1 {
    font-size: 10px; 
    transition: 0.6s; 
}

.button1:hover {
    background-color: #fff;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-width: 2px;
    border-radius: 20px; 
    border-color: #e7aac2;
}
/* ---------- End of Link Styles ---------- */

/* ---------- Image Styles ---------- */
.gallery-box {
    width: 100%;
    margin: 0 auto;
}

.imgico {
    display: inline;
    width: 20%;
    transition: 0.3s;
}

.imgico:hover {
  transition: 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 50em) {
    .imgico {
        width: 100%;
        padding-bottom: 5vh;
        display: block;
    }
}

.halfsize {
    margin: 5px;
    display: inline;
    width: 20vh;
}

.preview {
    margin: 10px;
    display: inline;
    width: 40vh;
}

.banner {
    width: 27.5vh;
    display: inline;
}

#aboutimg {
    float: left;
    padding-left: 5vh; 
    padding-right: 5vh;
    padding-bottom: 2.5vh;
    width: 50vh;
}

.gallery-box {
    text-align: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5px;
    margin: 0 auto;
}
/* ---------- End of Image Styles ---------- */
