* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}

.lead-text {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 175%;
}

#page-content {
    width: 950px;
}

.profile {
    width: 100px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a.link,
a.link:link,
a.link:visited,
a.link:hover {
    text-decoration: underline;
    color: #0000EE;
}

a.link:active {
    text-decoration: underline;
    color: #551A8B;
}

figcaption {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    line-height: 175%;
}

@media screen and (max-width: 1000px) {
    #page-content {
        width: 100%;
    }
}
