* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 2em;
}

#setup {
    margin-top: 7%;
    margin-bottom: 3.5%;
}

iframe {
    border:none;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#sam {
    margin-bottom: -40px;  
}

.smuel {
    margin-bottom: -40px;
}
